body{
  background-color: #11072b;
  background-image: url("media/bg.png");
  color: white;
}

hr {
  background-color: #403853;
}

.center {
  text-align: center;
}
.panel {
  background-color: #170d31;
  padding: 10px;
  min-width: 450px;
}

input {
  border-color: #403853;
  border-radius:30px;
  -moz-border-radius:30px;
  -webkit-border-radius:30px;
  padding: 5px;

  background-color: #170d31;
  color: white;

  outline: none;
}

input[type="text"] {
  width: 100%
}

input[type="button"] {
  border-radius:30px;
  -moz-border-radius:30px;
  -webkit-border-radius:30px;
  border: 0px;

  background-color: #f55335;
  color: white;

  margin-left: 10px;
}

#logo {
  margin: 10px;
  width: 150px;
  height: auto;
}

.logo-container {
  min-height: 180px;
}

#logo-bitcoin {
  margin: 40px;
  width: 100px;
  height: auto;
}

#logo-ethereum {
  margin: 40px;
  width: 100px;
  height: auto;
}

.symbol-mini {
  width: 25px;
  height: auto;
}

.table {
  display: none;
}

.table thead {
  background-color: #f55335;
  min-height: 25px;
}

.table thead th {
  border: 0;
}

.table tbody tr {
  background: white;
  color: #11072b;
}

.partners-panel {
  background-color: #65567a;
  min-height: 150px;
}

.partners-text {
  color: #847896;
  margin: 40px;
}

.coins-panel {
  background-color: #65567a;
  min-height: 150px;
}

.coins-text {
  color: #847896;
  margin: 40px;
}

.coins-logo {
  width: 100px;
  height: auto;
}

.follow-us {
  color: #847896;
  margin-top: 40px;
}

.follow-us-logos {
  margin-top: 10px;
}

.footer {
  background-color: #222026;
  min-height: 50px;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, html * {
  font-family: Roboto;
}
